@model IEnumerable<WebPet.Models.Animal>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnimalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Breed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfAnimal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearOld)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AnimalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfAnimal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOld)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.CustID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AniID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AniID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AniID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
